@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.container {
    text-align: center;
}
.card{
    margin: 2%;
}

.btn{
    margin:2% ;
}

#result-cnn{
    display: none;
}
#result-rep{
    display: none;
}
#result-ndtv{
    display: none;
}
#multiple{
    display: none;
}